.game-wrap {
	margin-top: 5vh;
}

.game-wrap > .row.buttons {
	display: flex;
	justify-content: center;
}

.score-wrap > h2 {
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}