.bg {
  background: url('../../assets/bg-menu.png') no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

ul {
  width: 50vw;
  position: absolute;
  top: 30vh;
  left: 25vw;
}

li {
  margin-bottom: 1vh;
}

a > img {
  max-width: 100%;
}

li > a {
  padding: 0;
}

#history, #about {
  width: 60%;
  display: inline-block;
  float: left;
}

#games {
  width: 38%;
  display: inline-block;
  float: right;
  margin-top: -41%;
}
