.btn {
  border-color: transparent;
  margin: 0;
  padding: 0;
  width: 6.5vw;
  height: 6.5vw;
}

.btn-primary {
  background-color: #CB4C4C;
}

.btn-primary:hover {
  background-color: #a72630;
}

.btn-secondary {
  background: #B3B3B3;
}

.btn.active {
  background: #FFCE4C;
}
