.game-wrap {
  margin-top: 15vh;
}

.grid-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-bottom: 3vw;
}

.grid-col {
  display: inline-block;
}

.score-wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

#score, #misses, #time {
  display: block;
}

.game-over {
  position: absolute;
  top: 45vh;
  left: calc(50vw - 125px);
  width: 250px;
  background: #fff;
  border: 2px solid;
  text-align: center;
}
