.game-wrap {
  margin-top: 10vh;
}

.grid-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-bottom: 3vw;
}

.grid-col {
  display: inline-block;
}

.score-wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

#score {
  display: block;
}
