/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

.text-primary {
  color: #CB4C4C;
}

.text-secondary {
  color: #FFCE4C;
}

.text-tertiary {
  color: #B3B3B3;
}

.bg-primary {
  background-color: #CB4C4C;
}

.bg-secondary {
  background: #FFCE4C;
}

.bg-tertiary {
  background: #B3B3B3;
}
